.logo header{
    background-color: dimgray;
    width: auto;
    height:100px;
    display: flex;
    flex-direction: row;
}

.background {
    width: auto;
    height: auto;
}

.title{
    color:brown;
}